{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Jaguarete KAA S.A. es una empresa dedicada el eCommerce.
    Contamos con una plataforma en linea de gran alcance y mas
    de 500 sucursales en todo el pais.
</p>


<form action="/about/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        {{ form }}
    </div>
    <input type="submit" class="btn btn-primary" value="Agregar">
</form>


{% endblock %}
