<div class="card">
    <div class="card-body col-md-4">

        <h2> {{ title }}</h2>
        <p> {{ text }}</p>
        <p><a class="btn btn-default" href={{ link }}> {{ button }} &raquo;</a></p>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body col-md-4">
        <h5 class="card-title"> {{ title }}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>