{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Django</h1>
    <p class="lead">Django is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

{% if user != None and 'Usuario' in user.groups %}

    <p> USUARIO COMPRADOR </p>

{% endif %}

{% if user != None and 'Moderador' in user.groups %}

    <p> USUARIO MODERADOR </p>

{% endif %}


{% include 'app/products-last-view.html' %}

{% endblock %}
