<div class="card" style="width: 18rem;">
    {% if product.image %}
            <img src="{{ product.image.url }}" class="card-img-top" alt="...">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-text">${{ product.price }}</p>
        <p class="card-text">{{ product.category }}</p>
        <p><a class="btn btn-default" href={{ link }}> {{ button }} &raquo;</a></p>
    </div>
</div>
