<div class="row">

    {% if products != None  %}
    
        {% for product in products %}
    
            {% include 'app/product-card.html' %}

        {% endfor %}
    
    {% else %}
    
        <p>No hay productos para mostrar.</p>
    
    {% endif %}
    
</div>